.dragme {
    background-color:#6495ed;
    padding:25px;
    padding-top:20px;
}


.drophere {
    min-height: 100px;
}

.green {
    border:2px solid green;
    min-height: 100px;
}

.blue {
    border:2px solid blue;
    min-height: 100px;
}

.hover {
    background-color:yellow;   
}