<div id="deck-list-view">

    <!-- Navbar with searchbox and back button -->
    <div class="navbar navbar-default navbar-fixed-top">
        <!-- App Title -->
        <a class="navbar-brand">SnapNote</a>
    </div>

    <!-- Content shown when not searching for decks -->
    <div id="main-content">
        <h1>My Decks</h1>
        <!-- List of Notecard Decks Owned by User -->
        <div id="deck-list" class="list-group">
            <!-- Decks created by user -->
            <h3 id="created">Created</h3>
            <div ng-repeat="deck in decks  | filter: { 'owned': 'true', 'created': 'true', 'deleted' : 'false' } | orderBy:'name'">
                <div>
                    <a href="#/{{ deck.id }}/study" class="list-group-item">
                        <h4 class="list-group-item-heading deck-list-header">{{ deck.name }}</h4>
                		<div class='remindericon {{deck.remindersClass()}}' ng-click="goToReminders(deck.id); $event.stopPropagation();"></div>
                    </a>
                </div>
            </div>
            <!-- Decks downloaded by user -->
            <h3 id="downloaded">Downloaded</h3>
            <div ng-repeat="deck in decks  | filter: { 'owned': 'true', 'created': 'false', 'deleted' : 'false' } | orderBy:'name'">
                <a href="#/{{ deck.id }}/study" class="list-group-item">
                    <h4 class="list-group-item-heading deck-list-header">{{ deck.name }}</h4>
                	<div class='remindericon {{deck.remindersClass()}}' ng-click="goToReminders(deck.id); $event.stopPropagation();"></div>
                </a>
            </div>
        </div>

        <!-- New Note Button -->
        <a type="button" href="#/chooseImage" class="btn btn-lg btn-primary btn-block">New Note</a>

    </div>
</div>