<div id="deck-list-view">

    <div class="jumbotron">
        <h1>SnapNote</h1>
        <p>Studying is a snap!</p>
    </div>
    <!-- Content shown when not searching for decks -->
    <!--div>
        <h1>My Decks</h1>
        <div id="deck-list">
            <h3 id="created">Created</h3>
            <div ng-repeat="deck in decks  | filter: { 'owned': 'true', 'created': 'true', 'deleted' : 'false' } | orderBy:'name'">
                <div>
                    <a href="#/{{ deck.id }}/study" class="list-group-item">
                        <h4 class="list-group-item-heading deck-list-header">{{ deck.name }}</h4>
                		<div class='remindericon {{deck.remindersClass()}}' ng-click="goToReminders(deck.id); $event.stopPropagation();"></div>
                    </a>
                </div>
            </div>
            <h3 id="downloaded">Downloaded</h3>
            <div ng-repeat="deck in decks  | filter: { 'owned': 'true', 'created': 'false', 'deleted' : 'false' } | orderBy:'name'">
                <a href="#/{{ deck.id }}/study" class="list-group-item">
                    <h4 class="list-group-item-heading deck-list-header">{{ deck.name }}</h4>
                	<div class='remindericon {{deck.remindersClass()}}' ng-click="goToReminders(deck.id); $event.stopPropagation();"></div>
                </a>
            </div>
        </div>

        <a type="button" href="#/chooseImage" class="btn btn-lg btn-primary btn-block">New Note</a>

    </div-->
</div>